# Feature Construction

## Def:

It way or method in which we exract new data (column) form multiple colulmns

In [22]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [23]:
df = pd.read_csv('train.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [24]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [25]:
df.dropna(inplace=True)

In [26]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [27]:
x = df.iloc[:,0:4]
y=df.iloc[:,4:5]

In [28]:
x.head()

    Age  Pclass  SibSp  Parch
0  22.0       3      1      0
1  38.0       1      1      0
2  26.0       3      0      0
3  35.0       1      1      0
4  35.0       3      0      0

In [29]:
y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

#### Applying Feature Construction

In [31]:
x['Family_size'] = x['SibSp']+x['Parch']+1

In [32]:
x.head()

    Age  Pclass  SibSp  Parch  Family_size
0  22.0       3      1      0            2
1  38.0       1      1      0            2
2  26.0       3      0      0            1
3  35.0       1      1      0            2
4  35.0       3      0      0            1

In [36]:
def myfunc(num):
    if num==0: # alone
        return 0
    elif num > 4:
        return 1 # small family
    else:
        return 2 #large family

In [37]:
x['Family_type'] = x['Family_size'].apply(myfunc)

In [38]:
x.head()

    Age  Pclass  SibSp  Parch  Family_size  Family_type
0  22.0       3      1      0            2            2
1  38.0       1      1      0            2            2
2  26.0       3      0      0            1            2
3  35.0       1      1      0            2            2
4  35.0       3      0      0            1            2

In [39]:
x.drop(columns=['SibSp','Parch','Family_size'],inplace=True)

In [40]:
x.head()

    Age  Pclass  Family_type
0  22.0       3            2
1  38.0       1            2
2  26.0       3            2
3  35.0       1            2
4  35.0       3            2

# Feature Splitting

## Def:

its opposite to feature construction in which we make multiple column from a single column